@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


@layer base {
    :root {
        --rPrimaryWhite: #F5F5F5;
        --rThemeRed: #F44730;
        --rThemeOrange: #F4A154;
        --rThemePurple: #69168F;
        --rThemeDarkBlue: #0A2E72;
        --rThemeBlue: #144BB1;
        --rSlateGray: #6D6D6D;
        --rSpaceBlue: #393D5E;
        --rSpaceBlueSelected: #202338;
        --rSelectorBlue: #4699E5;
        --rGlassBackground: #010101;
    }

    
    html, body {
        width: 100dvw; 
        @apply font-Ubuntu bg-PrimaryWhite
    }
    body{
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

@layer components { 

    .womp{
        object-fit: contain;
        display: block;
        width: auto;
    }

    /* fix overflow bug */
    .overflowFix{
        -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* this fixes the overflow:hidden in Chrome/Opera */
    }

    .conic-gradient-noshade {
        background:  
        conic-gradient(at 45% -2%, var(--rThemePurple) 23%, var(--rThemeDarkBlue) 55%, var(--rThemeBlue) 80%);
    }

    .glass-gradient {
        background: 
        linear-gradient(to right, rgb(0 0 0 / 25%), rgb(0 0 0 / 25%));
    }

    .glass-gradient-loading {
        background: 
        linear-gradient(to right, rgb(0 0 0 / 50%), rgb(0 0 0 / 50%));
    }

    .boardGlass {
        background: linear-gradient( to right, rgba(44, 47, 72,.5), rgba(44, 47, 72,.5));
    }

    .conic-gradient {
        background:  
            linear-gradient(to right, rgb(0 0 0 / 25%), rgb(0 0 0 / 25%)),
            conic-gradient(at 45% -2%, var(--rThemePurple) 23%, var(--rThemeDarkBlue) 55%, var(--rThemeBlue) 80%);
    }

    .linear-gradientFooter {
        background: -webkit-linear-gradient(360deg, var(--rThemeRed) 75%, var(--rThemeOrange));
    }

    .hoverBlue{
        background:-webkit-linear-gradient(360deg, var(--rSelectorBlue) 50%, var(--rSelectorBlue));
    }

    .linear-gradientFooter2 {
        background: -webkit-linear-gradient(360deg, var(--rThemeRed) 50%, var(--rThemeOrange));
    }

    .text-linear-gradient {
        font-weight: 700;
        background: -webkit-linear-gradient(339deg, var(--rThemeRed) 25%, var(--rThemeOrange));
        @apply inline-block text-transparent bg-clip-text
    }
/*     
    .background-option3 {
        background: ;
    } */

    .site-borders {
        background: -webkit-linear-gradient(305deg, var(--rThemeRed) 25%, var(--rThemeOrange));
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .customShadow {
        box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,.5);
    }

    .dropDownShadow {
        box-shadow: 0 1.176rem 2.353rem 0 rgba(0,0,0,.5);
    }

    .animationDelay1s {
        animation-direction: reverse;
        animation-delay: .25s;
    }
    .animationDelay2s {
        animation-direction: reverse;
        animation-delay: .5s;
    } 
    .animationDelay3s {
        animation-direction: reverse;
        animation-delay: .75s;
    } 

    @keyframes reversebounce {
        0%,100% {
            transform: none;
            animation-timing-function: cubic-bezier(0,0,0.2,1);
        }
        50% {
            transform: translateY(-25%);
            animation-timing-function: cubic-bezier(0.8,0,1,1);
        }
    }
}

@layer utilities {

    .closeMark{
        @apply
        sLaptop:w-[0.959rem]
        sLaptop:h-[0.959rem]
        mLaptop:w-[1.199rem]
        mLaptop:h-[1.199rem]
        desktop:w-[1.44rem]
        desktop:h-[1.44rem]
        largeDesktop:w-[1.8rem]
        largeDesktop:h-[1.8rem]
        4k:w-[2.399rem]
        4k:h-[2.399rem]

        relative
        hover:cursor-pointer
    }
    .closeMark::before, .closeMark::after{
        @apply 
        content-[""]
        absolute
        sLaptop:top-[calc(0.959rem/2)]
        mLaptop:top-[calc(1.199rem/2)]
        desktop:top-[calc(1.44rem/2)]
        largeDesktop:left-[calc(1.8rem/2)] 
        largeDesktop:top-0
        4k:left-[calc(2.399rem/2)]

        sLaptop:w-[0.959rem]
        sLaptop:h-[2.266px]
        mLaptop:w-[1.199rem]
        mLaptop:h-[2.833px]
        desktop:h-[3.4px]
        desktop:w-[1.44rem]
        largeDesktop:h-[1.8rem]
        largeDesktop:w-[4.25px]
        4k:h-[2.399rem]
        4k:w-[5.666px]
        rounded-full
        bg-white
    }

    .closeMark::before{
        @apply rotate-45
    }

    .closeMark::after{
        @apply rotate-[-45deg]
    }

    .speechBubbleCss{
        @apply 
        hidden
        sLaptop:block
   
        absolute
        z-[5]
   
        left-[100%]
        
        /* before:content-[""]
        before:w-[2rem]
        before:h-[2rem]
        before:absolute
        before:bottom-[15%]
        before:z-[-1]
        before:left-[calc(-2rem/2)]
        before:rotate-45
        before:bg-black
        before:ring-[2px]
        before:ring-SelectorBlue  */
    }
    .speechBubbleCss::before, .speechBubbleCss::after{
        @apply
        content-[""]
        sLaptop:w-[0.799rem]
        sLaptop:h-[0.799rem]
        mLaptop:w-[0.999rem]
        mLaptop:h-[0.999rem]
        desktop:w-[1.2rem]
        desktop:h-[1.2rem]
        largeDesktop:w-[1.5rem]
        largeDesktop:h-[1.5rem]
        4k:w-[1.999rem]
        4k:h-[1.999rem]

        absolute
        sLaptop:top-[calc(50%-(0.799rem/2))]
        mLaptop:top-[calc(50%-(0.999rem/2))]
        desktop:top-[calc(50%-(1.2rem/2))]
        largeDesktop:top-[calc(50%-(1.5rem/2))]
        sLaptop:left-[calc(-0.799rem/2)]
        mLaptop:left-[calc(-0.999rem/2)]
        desktop:left-[calc(-1.2rem/2)]
        largeDesktop:left-[calc(-1.5rem/2)]
        4k:left-[calc(-1.999rem/2)]

        rotate-45   
        bg-SpaceBlue
    }

    .speechBubbleCss::before{
        @apply 
        ring-[2.25px]
        ring-SelectorBlue
        z-[-1]
    }

    .croppingToolButton {
        @apply

        h-[2.021rem]
        mobile:h-[2.695rem]
        sMobile:h-[4.312rem]
        /* mMobile:h-[5.175rem] */
        sLaptop:h-[1.84rem]
        mLaptop:h-[2.3rem]
        desktop:h-[2.76rem]
        largeDesktop:h-[3.45rem]
        
        w-[4.687rem]
        mobile:w-[6.25rem]
        sMobile:w-[10rem]
        /* mMobile:w-[12rem] */
        sLaptop:w-auto
        sLaptop:px-[1.399rem]
        mLaptop:px-[1.749rem]
        desktop:px-[2.1rem]
        largeDesktop:px-[2.625rem]

        text-[1.010rem]
        leading-[2.021rem]
        mobile:text-[1.347rem]
        mobile:leading-[2.695rem]
        sMobile:text-[2.156rem]
        sMobile:leading-[4.312rem]
        /* mMobile:text-[2.588rem]
        mMobile:leading-[3.3rem] */
        sLaptop:text-[0.92rem]
        sLaptop:leading-[1.84rem]
        mLaptop:text-[1.15rem]
        mLaptop:leading-[2.3rem]
        desktop:text-[1.38rem]
        desktop:leading-[2.76rem]
        largeDesktop:text-[1.725rem]
        largeDesktop:leading-[3.45rem]

        font-bold

        rounded-[0.263rem]
        mobile:rounded-[0.351rem]
        sMobile:rounded-[0.562rem]
        /* mMobile:rounded-[0.675rem] */
        sLaptop:rounded-[0.24rem]
        mLaptop:rounded-[0.3rem]
        desktop:rounded-[0.36rem]
        largeDesktop:rounded-[0.45rem]

        transition-all
        duration-500
    }

    .styling{
        @apply
        h-[31.18rem]
    }

    .labelCss{
        @apply
        text-[1.057rem]
        leading-[1.220rem]
        mobile:text-[1.409rem]
        mobile:leading-[1.627rem]
        sMobile:text-[2.254rem]
        sMobile:leading-[2.604rem] 
        /* mMobile:text-[2.705rem]
        mMobile:leading-[3.125rem] */
        sLaptop:text-[0.95rem]
        sLaptop:leading-[1rem]
        mLaptop:text-[1.188rem]
        mLaptop:leading-[1.25rem]
        desktop:text-[1.425rem]
        desktop:leading-[1.875rem]
        largeDesktop:text-[1.781rem]
        largeDesktop:leading-[1.875rem]
    }

    .labelcssAdjusted{
        @apply
        text-[1.057rem]
        leading-[1.220rem]
        mobile:text-[1.409rem]
        mobile:leading-[1.627rem]
        sMobile:text-[2.254rem]
        sMobile:leading-[2.604rem] 
        /* mMobile:text-[2.705rem]
        mMobile:leading-[3.125rem] */
        sLaptop:text-[0.854rem]
        sLaptop:leading-[0.899rem]
        mLaptop:text-[1.067rem]
        mLaptop:leading-[1.124rem]
        desktop:text-[1.281rem]
        desktop:leading-[1.349rem]
        largeDesktop:text-[1.602rem]
        largeDesktop:leading-[1.687rem]
    }

    .inputCss{
        @apply
        w-full

        text-[1.057rem]
        mobile:text-[1.409rem]
        sMobile:text-[2.254rem] 
        /* mMobile:text-[2.705rem]  */
        sLaptop:text-[.95rem]
        mLaptop:text-[1.188rem]
        desktop:text-[1.425rem]
        largeDesktop:text-[1.781rem]
        sLaptop:leading-none

        py-[0.247rem]
        mobile:py-[0.330rem]
        sMobile:py-[0.528rem]
        /* mMobile:py-[0.634rem] */
        sLaptop:py-[0.2rem]
        mLaptop:py-[0.25rem]
        desktop:py-[0.3rem]
        largeDesktop:py-[0.375rem]

        px-[3%]  
        sLaptop:px-[0.4rem]
        mLaptop:px-[0.5rem]
        desktop:px-[0.6rem]
        largeDesktop:px-[0.75rem]

        rounded-[0.324rem]
        mobile:rounded-[0.431rem]
        sMobile:rounded-[0.69rem]
        /* mMobile:rounded-[0.828rem] */
        sLaptop:rounded-[0.304rem]
        mLaptop:rounded-[0.38rem]
        desktop:rounded-[0.456rem]
        largeDesktop:rounded-[0.57rem] 

        focus:outline-none
        focus:ring

        bg-[#CECECE]

        ring-0
        focus:bg-PrimaryWhite
        focus:ring-SelectorBlue
        sLaptop:focus:ring-[0.08rem]
        mLaptop:focus:ring-[0.1rem]
        desktop:focus:ring-[0.12rem]
        largeDesktop:focus:ring-[0.15rem]
    }

    .profilePassReqText{
        @apply 
        text-[0.683rem]
        leading-[0.781rem]
        mobile:text-[0.911rem]
        mobile:leading-[1.041rem]
        sMobile:text-[1.458rem]
        sMobile:leading-[1.666rem]
        /* mMobile:text-[1.75rem]
        mMobile:leading-[2rem] */
        sLaptop:text-[0.533rem] 
        sLaptop:leading-[0.533rem]
        mLaptop:text-[0.733rem]
        mLaptop:leading-[0.733rem] 
        desktop:text-[0.88rem]
        desktop:leading-[0.88rem]
        largeDesktop:text-[1.1rem]
        largeDesktop:leading-[1.1rem]
    }
    .profilePassReqImg{
        @apply
        w-[0.781rem]
        h-[0.781rem]
        mobile:w-[1.041rem]
        mobile:h-[1.041rem]
        sMobile:w-[1.666rem]
        sMobile:h-[1.666rem]
        /* mMobile:w-[2rem] */
        /* mMobile:h-[2rem] */
        sLaptop:w-[0.533rem] 
        sLaptop:h-[0.533rem]
        mLaptop:w-[0.733rem]
        mLaptop:h-[0.733rem] 
        desktop:w-[0.88rem]
        desktop:h-[0.88rem]
        largeDesktop:w-[1.1rem]
        largeDesktop:h-[1.1rem]
    }
    .profilePassHolder{
        @apply
        flex justify-start items-start
        gap-[0.292rem]
        mobile:gap-[0.390rem]
        sMobile:gap-[0.624rem]
        /* mMobile:gap-[.75rem] */
        sLaptop:gap-[0.346rem]
        mLaptop:gap-[0.433rem]
        desktop:gap-[0.52rem]
        largeDesktop:gap-[0.65rem]
    }

    .modalPasswordInputDiv {    
        @apply 
        flex 
        flex-col 

        gap-[0.59rem]
        mobile:gap-[0.784rem]
        sMobile:gap-[1.188rem]
        /* mMobile:gap-[1.438rem] */
        sLaptop:gap-[0.313rem] 
        mLaptop:gap-[0.383rem] 
        desktop:gap-[0.473rem] 
        largeDesktop:gap-[0.544rem]
    }

    .modalHalfInputDiv{
        @apply 
        flex flex-col 

        gap-[0.59rem]
        mobile:gap-[0.784rem]
        sMobile:gap-[1.188rem]
        /* mMobile:gap-[1.438rem] */
        sLaptop:gap-[0.313rem] 
        mLaptop:gap-[0.383rem] 
        desktop:gap-[0.473rem] 
        largeDesktop:gap-[0.544rem]

        sLaptop:w-[calc(50%-(0.439rem/2))] 
        mLaptop:w-[calc(50%-(0.549rem/2))] 
        desktop:w-[calc(50%-(0.659rem/2))] 
        largeDesktop:w-[calc(50%-(0.824rem/2))]
    }

    .modalInputs {
        @apply 
        w-full

        text-[1.057rem]
        mobile:text-[1.409rem]
        sMobile:text-[2.254rem] 
        /* mMobile:text-[2.705rem]  */
        sLaptop:text-[.95rem]
        mLaptop:text-[1.188rem]
        desktop:text-[1.425rem]
        largeDesktop:text-[1.781rem]
        sLaptop:leading-none

        py-[0.247rem]
        mobile:py-[0.330rem]
        sMobile:py-[0.528rem]
        /* mMobile:py-[0.634rem] */
        sLaptop:h-auto
        sLaptop:py-[0.133rem]
        mLaptop:py-[0.166rem]
        desktop:py-[0.2rem]
        largeDesktop:py-[0.25rem]

        px-[3%]  
        sLaptop:px-[0.4rem]
        mLaptop:px-[0.5rem]
        desktop:px-[0.6rem]
        largeDesktop:px-[0.75rem]

        rounded-[0.324rem]
        mobile:rounded-[0.431rem]
        sMobile:rounded-[0.69rem]
        /* mMobile:rounded-[0.828rem] */
        sLaptop:rounded-[0.304rem]
        mLaptop:rounded-[0.38rem]
        desktop:rounded-[0.456rem]
        largeDesktop:rounded-[0.57rem] 

        focus:outline-none
        focus:ring

        bg-[#CECECE]

        ring-0
        focus:bg-PrimaryWhite
        focus:ring-SelectorBlue
        sLaptop:focus:ring-[0.08rem]
        mLaptop:focus:ring-[0.1rem]
        desktop:focus:ring-[0.12rem]
        largeDesktop:focus:ring-[0.15rem]
    }   

    .Home_Section1 {
        @apply 
        w-full 
        relative
    }
    .PM_Section2 {
        @apply w-full
        desktop:min-h-[980px]
        mLaptop:min-h-[818px] 
        sLaptop:min-h-[650px] 
        relative; 
    }
    .Pricing_Section3 {
        @apply 
        w-full  
        relative;
    }
    .FooterSocialLink{
        @apply
        w-[1.055rem]
        mobile:w-[1.406rem]
        sMobile:w-[2.25rem] 
        /* mMobile:w-[2.698rem]  */
        sLaptop:w-[1.75rem] 
        mLaptop:w-9 
        desktop:w-[2.625rem] 
        largeDesktop:w-[3rem] 
        sLaptop:hover:opacity-75 
        sLaptop:hover:cursor-pointer
    }
}